@charset "UTF-8";
/* transition: <property> <duration> <timing-function> <delay>; */
/* =========================== STYLES */
/* ---------- DISPLAY NONE ---------- */
.d-none {
  display: none !important;
}

/* ---------- DARK MODE ---------- */
/* 
html[theme='dark-mode']
{
	filter: invert(1) hue-rotate(180deg);
}

html[theme='dark-mode'] img,
picture,
video
{
	filter: invert(1) hue-rotate(180deg);
}

.invert
{
	filter: invert(1) hue-rotate(180deg);
} */
/* ---------- UNDERLINE EFFECT ---------- */
.underline-effect {
  padding: 7px;
  text-decoration: none;
  position: relative;
}
.underline-effect::before {
  content: "";
  margin: 0 auto;
  width: 3px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 25px;
  bottom: 0;
  left: 0;
  background: #fcef62;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.underline-effect:hover::before {
  height: 50%;
  background: #f4d4bb;
}

/* ---------- LIEN NAV DE LA PAGE COURANTE ---------- */
.current {
  color: #fcef62 !important;
}
.current:hover {
  color: rgba(131, 4, 4, 0.596);
}
.current::before {
  content: "";
  margin: 0 auto;
  width: 3px;
  height: 80%;
  position: absolute;
  top: 0px;
  right: 25px;
  bottom: 0;
  left: 0;
  background: #b94218;
}

/* ---------- BURGER ---------- */
.burger {
  background-color: blueviolet;
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
}
.burger span {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  background-color: black;
}
.burger span::before, .burger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: black;
}
.burger span::before {
  transform: translateY(-10px);
}
.burger span::after {
  transform: translateY(10px);
}

/* =========================== GÉNÉRAUX */
body {
  background-color: rgba(77, 117, 250, 0.336);
}

body,
.container,
header,
main,
footer header nav,
header nav ul {
  margin: 0;
  padding: 0;
}

/* ---------------------- flex+ & border-radius */
body,
.container,
header,
header nav,
header nav ul,
main,
.intro,
.world1,
.world2,
.world3,
.world4,
.world5,
.world6,
section > div:first-child,
footer {
  display: flex;
}

.container,
header,
header nav ul,
main,
.intro,
.world1,
.world2,
.world3,
.world4,
.world5,
.world6,
section > div:first-child {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header nav,
div,
h2,
h3,
iframe {
  border-radius: 25px;
}

.intro,
.world1,
.world2,
.world3,
.world4,
.world5,
.world6 {
  margin: 10px 0;
}

section > div:first-child {
  width: 70%;
  background-color: rgba(255, 191, 95, 0.507);
  text-align: center;
}

/* div around h2 titles */
.content-title {
  width: 100vw;
  position: relative;
}

section h2 {
  position: sticky;
  top: 0px;
  right: 0;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  width: 25%;
  background-color: rgba(255, 0, 0, 0.644);
}

/* ================================ HEADER */
header {
  background-image: url("./assets/img/braid-cover.jpg");
  width: 100%;
  height: 100vh;
}

.content-nav {
  height: 100vh;
  width: 98vw;
}

header nav {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 15px;
  border: 5px ridge #b94218;
  height: fit-content;
  position: absolute;
}

header nav ul {
  margin: 10px;
}

header nav ul li {
  margin: 10px 0 10px 0;
  list-style-type: none;
  writing-mode: vertical-lr;
  transform: rotate(0.5turn);
}

header nav a {
  color: #b94218;
  text-decoration: none;
}

/* =================== MAIN */
/* --------------------------------- bg-img */
header,
.intro,
.world1,
.world2,
.world3,
.world4,
.world5,
.world6 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.intro {
  background-image: url("./assets/img/intro.jpg");
}

.world1 {
  background-image: url("./assets/img/braid-1.jpg");
}

.world2 {
  background-image: url("./assets/img/braid-2.jpg");
}

.world3 {
  background-image: url("./assets/img/braid-3.jpg");
}

.world4 {
  background-image: url("./assets/img/braid-4.jpg");
}

.world5 {
  background-image: url("./assets/img/braid-5.jpg");
}

.world6 {
  background-image: url("./assets/img/braid-6.jpg");
}

/*# sourceMappingURL=style.css.map */
