/* transition: <property> <duration> <timing-function> <delay>; */

// =========================== COULEURS & ÉLÉMENTS

$red: rgb(185,66,24);
$yellow: rgb(252,239,98);

$div: "section>div:first-child";

/* =========================== STYLES */

/* ---------- DISPLAY NONE ---------- */
.d-none
{
	display: none !important;
}

/* ---------- DARK MODE ---------- */
/* 
html[theme='dark-mode']
{
	filter: invert(1) hue-rotate(180deg);
}

html[theme='dark-mode'] img,
picture,
video
{
	filter: invert(1) hue-rotate(180deg);
}

.invert
{
	filter: invert(1) hue-rotate(180deg);
} */

/* ---------- UNDERLINE EFFECT ---------- */
.underline-effect
{
	padding: 7px;
	text-decoration: none;
	position: relative;

	&::before
	{
		content: "";
		
		margin: 0 auto;
		width: 3px;
		height: 25px;
		
		position: absolute;
			top: 10px;
			right: 25px;
			bottom: 0;
			left: 0;
		
		background: rgb(252,239,98);

		-o-transition: 0.5s;
		-ms-transition: 0.5s;
		-moz-transition: 0.5s;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}
	
	&:hover::before
	{
		// Faire une animation pour que la couleur aille de la gauche (enfin du bas), vers la droite (le haut)
		height: 50%;
		background:rgb(244,212,187);
	}
}

/* ---------- LIEN NAV DE LA PAGE COURANTE ---------- */
.current
{
	&:hover
	{
		color: rgba(131, 4, 4, 0.596); // marche pas
	}

	color: $yellow !important;

	&::before
	{
		content: "";
		
		margin: 0 auto;
		width: 3px;
		height: 80%;
		
		position: absolute;
			top: 0px;
			right: 25px;
			bottom: 0;
			left: 0;
		
		background: $red;
	}
}

/* ---------- BURGER ---------- */
.burger
{
	background-color: blueviolet;
	width: 42px;
	height: 24px;
	cursor: pointer;
	position: relative;

	& span
	{
		display: block;

		position: absolute;
			top: 50%;
		transform: translateY(-50%);

		width: 100%;
		height: 4px;

		background-color: black;

		&::before, &::after
		{
			content: "";
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: black;
		}

		&::before
		{
			transform: translateY(-10px);
		}

		&::after
		{
			transform: translateY(10px);

		}
	}

}

/* =========================== GÉNÉRAUX */

body
{
	background-color: rgba(77, 117, 250, 0.336);
}

body,
.container,
header,
main,
footer
header nav,
header nav ul
{
	margin: 0;
	padding: 0;
}

/* ---------------------- flex+ & border-radius */

body,
.container,
header,
header nav,
header nav ul,
main,
.intro,
.world1,
.world2,
.world3,
.world4,
.world5,
.world6,
#{$div},
footer
{
	display: flex;
}

.container,
header,
header nav ul,
main,
.intro,
.world1,
.world2,
.world3,
.world4,
.world5,
.world6,
#{$div}
{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header nav,
#{div},
h2,
h3,
iframe
{
	border-radius: 25px;
}

.intro,
.world1,
.world2,
.world3,
.world4,
.world5,
.world6
{
	margin: 10px 0;
}

#{$div}
{
	width: 70%;
	background-color: rgba(255, 191, 95, 0.507);
	text-align: center;
}

/* div around h2 titles */
.content-title
{
	width: 100vw;
	position: relative;
}

section h2
{
	position: sticky;
		top: 0px;
		right:0;

	margin-top: 0;
	padding-top: 0;

	text-align: center;
	width: 25%;

	background-color: rgba(255, 0, 0, 0.644);
}

/* ================================ HEADER */

header /* flex */
{
	background-image: url("./assets/img/braid-cover.jpg");

	width: 100%;
	height: 100vh;
}

.content-nav{
	height: 100vh;
	width: 98vw;
}

header nav
{
	background-color: rgba(0, 0, 0, 0.8);

	// z-index: 1;

	margin: 15px;
	border: 5px ridge $red;
	height: fit-content;

	// align-self: start;

	position: absolute;
}

header nav ul
{
	margin: 10px;
}

header nav ul li
{
	margin: 10px 0 10px 0;
	list-style-type: none;

	writing-mode: vertical-lr;
	// text-orientation: upright; // Non.
	transform: rotate(0.5turn);
}

header nav a
{
	color: $red;
	text-decoration: none;
}

/* =================== MAIN */

/* --------------------------------- bg-img */

header,
.intro,
.world1,
.world2,
.world3,
.world4,
.world5,
.world6
{
	background-repeat: no-repeat;
	background-attachment: fixed;

	height: 100vh;
}

.intro
{
	background-image: url("./assets/img/intro.jpg");
}

.world1
{
	background-image: url("./assets/img/braid-1.jpg");
}

.world2
{
	background-image: url("./assets/img/braid-2.jpg");
}

.world3
{
	background-image: url("./assets/img/braid-3.jpg");
}

.world4
{
	background-image: url("./assets/img/braid-4.jpg");
}

.world5
{
	background-image: url("./assets/img/braid-5.jpg");
}

.world6
{
	background-image: url("./assets/img/braid-6.jpg");
}